DecisionTree/data 
EnsembleLearning/data 
EnsembleLearning/AdaBoost.png
EnsembleLearning/bagged.png
EnsembleLearning/bias.png
EnsembleLearning/forest.png
EnsembleLearning/forest_bias.png
EnsembleLearning/stumps.png
LinearRegression/data
LinearRegression/batch.png
LinearRegression/SGD.png
Perceptron/data
SVM/data
SVM/Support_vectors.py