DecisionTree/data 
Ensemble Learning/data 
Ensemble Learning/AdaBoost.png
Ensemble Learning/bagged.png
Ensemble Learning/bias.png
Ensemble Learning/forest.png
Ensemble Learning/stumps.png
Linear Regression/data
Linear Regression/batch.png
Linear Regression/SGD.png